<!DOCTYPE html>
<html>
<head>
    <title>darksouls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='darksoulsstyle.css') }}">
</head> 
<header>
    <h1>Dark Souls</h1>
</header>
<body>
    <h1></h1>
    <img src="https://darksouls.wiki.fextralife.com/file/Dark-Souls/Bonfire_Header_2.jpg" style="width:50cm;height:20cm;">

    <p>Dark Souls is a game that released back in 2011 that I perosnally play on playstion. For me it is one fo my top souls game as it had an intriguing storyline and lore as well as a having a dynamic of comabts to use agabist various bosses. </p>
    <button>Click here for more Souls games</button>  
</body>
</html>