<!DOCTYPE html>
<html>
<head>
    <title>homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
</head> 
<header>
    <h1>Corinne's Video Game Interests</h1>
</header>
<body>
    <h2>FromSoftware Inc has a variety of role playing games that tell a story. Below is a list of my top souls game.  </h2>
    <p>Elden Ring</p>
    <p>Dark Souls</p>
    <p>Bloodborne</p>
    <p>Demon's Souls</p>
    <img src="https://i.ytimg.com/vi/8nmobLqGOsY/maxresdefault.jpg" style="width:50cm;height:20cm;">
   
    <button>Click for more</button> 
</body>
</html>